h1 {

    text-align: center;
    color: black;

}

h2 {

    text-align: center;
    color: white;


}

.start {

    padding: 10px;
    border: 5px rgb(255, 255, 255) solid;
    
}

h4 {

    text-align: right;


}

.second {

    text-align: center


}

h3 {

    text-align: center;
    line-height: 50px;

}

body {

    background-color: rgb(125, 186, 255) ;
    border: 5px white solid;
    padding: 2px;

}

.boom {

    padding: 10px 20px;
    text-align: center;

}

img {

    border: 5px white solid;
    height: 300px;
    width: 500px;

}

.bunker {

    border: green;

    //Help?

}

.history {

    color: black;

}

.life {

    padding: 10px;
    margin: 50px 100px;


}
