h1 {

    text-align: center;
    color: black;

}

h2 {

    text-align: center;
    color: white;
    padding: 10px;
    margin: 15px 50px;
}

h3 {

    text-align: center;
    line-height: 50px;

}

h4 {

    text-align: right;


}

.second {

    text-align: center

}

body {

    background-color: rgb(125, 186, 255) ;
    border: 5px white solid;
    padding: 2px;
    height: 750px;

}

.boom {


    text-align: center;

}

.img {

    border: 5px white solid;
    height: 300px;
    width: 500px;

}

.bunker {

    border: green;

    //Help?

}

.history {

    padding: 10px;
    margin: 50px 50px;

}

.life {

    padding: 10px;
    margin: 50px 50px;

}

.alive {

    padding: 10px;
    margin: 50px 50px;


}

.start {

    padding: 5px;
    margin: 30px 100px;
    background-color: white;

}

.space {

    padding: 10px;
    margin: 50px 100px;

}

.oof {

    padding: 10px;
    margin: 50px 100px;

}
