h1 { 

    color: rgb(25, 142, 238); 
    font-family: 'Times New Roman', Times, serif;
    border-width: 5px;
    border-color: rgb(4, 163, 12);
    border-style: dashed;
    text-align: center;
    margin: 80px 20px;
    padding: 50px;
    
}

.first {

    background-color: pink;
    border: 2px rgb(255, 0, 43) dotted;
   
}

.second {

    font-family: 'Courier New', Courier, monospace;
    background-color: pink;

}

#third {

    border: 2px red dotted;
    font-family: 'Courier New', Courier, monospace;
    background-color: pink; 

}

p {

    text-align: center;

}

div {

    border: 5px gold solid;

}

.firstt {

    text-align: center;

}